<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin profile</title>
</head>
<body>

<style>

    .hover-underline-animation {
        cursor: pointer;
        display: inline-block;
        position: relative;
        color:white;
    }

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    h2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .add-new-btn{
        border: 1px solid white;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;

    }

    .add-new-btn:hover{
        border: 1px solid black;
        color: white;
        background-color: black;
    }

    .table-holder{
        width: 80%;
    }

    #sort-btn-product{
        cursor: pointer;
    }

    #sort-btn-product:hover{
        color: deepskyblue;
    }

    .tab-content {
        display: none !important;
    }

    .tab-active {
        display: block !important;
    }

    .modalDialog{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        width: 25%;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
        z-index: 10;
        background-color: white;

    }

    .modalDialog.active{
        transform: translate(-50%, -50%) scale(1);

    }

    .modalHeader{
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
    }

    .closeButton{
        border: none;
        background: none;
        cursor: pointer;
        font-weight: bold;
    }

    #overlay{
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 200ms ease-in-out;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
    }

    #overlay.active{
        opacity: 1;
        pointer-events: all;
    }



</style>

<div th:replace="fragments/usernavbar"></div>

<div class="d-flex justify-content-center mb-5">

    <button th:onclick="'javascript:initProductModal();'" class="add-new-btn"> + add new product </button>
    <button th:onclick="'javascript:initCategoryModal();'" class="add-new-btn"> + add new category </button>

</div>

<div class="modalDialog" id="modalProduct">
    <div class="modalHeader">
        <div class="title">Add new product</div>
        <button data-close-button class="closeButton">&times;</button>
    </div>
    <div class="modalBody">

        <form th:action="@{/admin/createproduct}" method="post">

            <div class="form-group">
                <label for="product-name">Name: </label>
                <input name="name" class="form-control" id="product-name" required>
            </div>

            <div class="form-group">
                <label for="stock">Stock: </label>
                <input type="number" name="stock" class="form-control" id="stock" required>
            </div>

            <div class="form-group">
                <label for="price">Price: </label>
                <input type="number" name="price" class="form-control" id="price" required>
            </div>

            <div class="form-group">
                <label for="category">Category: </label>
                <select id="category" name="category" required>
                    <option th:each="category : ${model.getCategories()}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-warning">Create</button>
            </div>

        </form>
    </div>
</div>

<div class="modalDialog" id="modalCategory">
    <div class="modalHeader">
        <div class="title">Add new category</div>
        <button class="closeButton">&times;</button>
    </div>
    <div class="modalBody">

        <form th:action="@{/admin/createcategory}" method="post">
            <div class="form-group">
                <label for="category-name">Name: </label>
                <input name="name" class="form-control" id="category-name" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-warning">Create</button>
            </div>
        </form>

    </div>

</div>

<div id="overlay"></div>

<div  class="d-flex justify-content-center">

    <h2 class="hover-underline-animation tab-btn">Products</h2>

    <h2 class="hover-underline-animation tab-btn">Categories</h2>

    <h2 class="hover-underline-animation tab-btn">Users</h2>

    <h2 class="hover-underline-animation tab-btn">User logs</h2>

    <h2 class="hover-underline-animation tab-btn">Receipts</h2>

</div>

<div class="tab-content tab-active">
    <div class="d-flex justify-content-center mt-3">
        <div class="table-holder">
            <table class="table table-dark" id="productTable">
                <thead>
                <tr>
                    <th scope="col">
                        <a id="sort-btn-product" th:onclick="'javascript:sortProductsById();'">Id</a>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${model.getProducts()}">
                    <th scope="row" th:text="${item.getId()}"></th>
                    <td th:text="${item.getName()}"></td>
                    <td th:text="${item.getStock()}"></td>
                    <td th:text="${item.getPrice()}"></td>
                    <td th:text="${item.getCategory().getName()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/aboutproduct/{productId}(productId=${item.getId()})}">i</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="d-flex justify-content-center mt-3">
        <div class="table-holder">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Products</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${model.getCategories()}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getName()}"></td>
                    <td th:text="${model.getProductCountForCategory(item.getName())}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="d-flex justify-content-center">
        <div class="table-holder">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${model.getAppUsers()}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getFirstname()}"></td>
                    <td th:text="${item.getLastname()}"></td>
                    <td th:text="${item.getEmail()}"></td>
                    <td th:text="${item.getCreatedAt()}"></td>
                    <td th:text="${item.getRole()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="d-flex justify-content-center">
        <div class="table-holder">
            <table class="table table-dark" id="logTable">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Ip address</th>
                    <th scope="col">User id</th>
                    <th scope="col">User full name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${model.getUserLogs()}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getCreatedAt()}"></td>
                    <td th:text="${item.getIpAddress()}"></td>
                    <td th:text="${item.getAppUser().getId()}"></td>
                    <td th:text="${item.getAppUser().toString()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="d-flex justify-content-center">
        <div class="table-holder">
            <table class="table table-dark" id="receiptTable">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">User id</th>
                    <th scope="col">User full name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${model.getReceipts()}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getCreatedAt()}"></td>
                    <td th:text="${item.getAmount()}"></td>
                    <td th:text="${item.getPayment()}"></td>
                    <td th:text="${item.getAppUser().getId()}"></td>
                    <td th:text="${item.getAppUser().toString()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/aboutreceipt/{receiptId}(receiptId=${item.getId()})}">i</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const tabButtons = document.querySelectorAll(".tab-btn");
    const tabContents = document.querySelectorAll(".tab-content");

    tabButtons.forEach((button, index) => {
        button.addEventListener("click", () => {
            tabContents.forEach(content => content.classList.remove("tab-active"));
            tabContents[index].classList.add("tab-active");
            if (index === 4) {
                document.getElementById("search-input").style.display = "block";
                document.getElementById("dateFrom").style.display = "block";
                document.getElementById("dateTo").style.display = "block";
                document.getElementById("filterBtn").style.display = "block";
            } else {
                document.getElementById("search-input").style.display = "none";
                document.getElementById("dateFrom").style.display = "none";
                document.getElementById("dateTo").style.display = "none";
                document.getElementById("filterBtn").style.display = "none";
            }
        });
    });
</script>

<script>
    let ascending = true;

    function sortProductsById() {
        const tableBody = document.querySelector('#productTable tbody');
        const rows = Array.from(tableBody.querySelectorAll('tr'));

        rows.sort((a, b) => {
            const idA = parseInt(a.querySelector('th').textContent);
            const idB = parseInt(b.querySelector('th').textContent);

            if (ascending) {
                return idA - idB;
            } else {
                return idB - idA;
            }
        });

        ascending = !ascending;

        rows.forEach(row => tableBody.appendChild(row));

        const sortBtn = document.querySelector('#sort-btn');
        sortBtn.textContent = `Id - ${ascending ? 'Desc' : 'Asc'}`;
    }
</script>

<script>
    const overlay = document.getElementById('overlay')
    const closeBtn = document.querySelectorAll(".closeButton")

    function initProductModal(){
        const modal = document.getElementById('modalProduct')
        openModal(modal)
    }

    function initCategoryModal(){
        const modal = document.getElementById('modalCategory')
        openModal(modal)
    }

    overlay.addEventListener('click', () => {
        const modals = document.querySelectorAll('.modalDialog.active')
        modals.forEach(modal => {
            closeModal(modal)
        })
    })

    closeBtn.forEach(button => {
        button.onclick = function() {
            const modals = document.querySelectorAll('.modalDialog.active')
            modals.forEach(modal => {
                closeModal(modal)
            })
        };
    });

    function openModal(modal) {
        if (modal == null) return
        modal.classList.add('active')
        overlay.classList.add('active')
    }

    function closeModal(modal) {
        if (modal == null) return
        modal.classList.remove('active')
        overlay.classList.remove('active')
    }
</script>

<script>

    let searchInput = document.getElementById("search-input");

    const rows = document.querySelectorAll("#receiptTable tbody tr");

    searchInput.addEventListener("input", () => {
        const searchTerm = searchInput.value.toLowerCase();

        rows.forEach(row => {
            const productName = row.querySelector("td:nth-child(6)").textContent.toLowerCase();

            if (productName.includes(searchTerm) || searchTerm === "") {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    });

    let filterActive = false;
    const filterButton = document.getElementById("filterBtn");

    function filter(){

        if (filterActive){
            filterButton.textContent = "Search";
            removeFilter();
        }
        else{
            filterByDate()
            filterButton.textContent = "Remove filter";

        }
    }

    function filterByDate(){
        const dateFrom = new Date(document.getElementById("dateFrom").value);
        const dateTo = new Date(document.getElementById("dateTo").value);

        rows.forEach(row => {
            const createdAt = new Date(row.querySelector("td:nth-child(2)").textContent);
            if (createdAt >= dateFrom && createdAt <= dateTo) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });

        filterActive = true;
    }

    function removeFilter() {
        rows.forEach(row => {
            row.style.display = "table-row";
        });
        searchInput = ""
        filterActive = false;
    }

</script>

<script></script>

</body>
</html>