<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<style>

    .items-holder{
        width: 70%;
        height: 300px;
    }

    .item-card{
        border: 1px solid gray;
        border-radius: 30px;
        margin-bottom: 2%;
        background: gainsboro;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

    h3{
        padding: 10px 20px 10px 20px;
    }

    #quantity{
        width: 40%;
        margin-left: 20%;
    }

</style>

<div th:replace="fragments/usernavbar"></div>

<div class="d-flex justify-content-center">

    <div th:if="${#lists.isEmpty(cart.getItems())}">
        <div class="alert alert-secondary" role="alert">
            Cart is empty!
        </div>
    </div>

    <div class="items-holder" th:unless="${#lists.isEmpty(cart.getItems())}">

        <div class="d-flex justify-content-center mb-3">
            <a href="/checkout" class="btn btn-primary">Checkout</a>
        </div>

        <div th:each="item : ${cart.getItems()}" class="item-card d-flex justify-content-between">

            <h3 class="mx-5" th:text="${item.getProduct().getName() + '  -  ' + item.getProduct().getCategory().getName()}"></h3>

            <h3 th:text="${item.getFormattedAmount() + '€'}"></h3>

            <div class="d-flex justify-content-center">
                <form th:action="@{/updateitem}" class="d-flex align-items-center justify-content-start m-3 update-form" method="post">

                    <input type="hidden" name="productId" th:value="${item.getProduct().getId()}">
                    <input type="number" name="quantity" class="form-control mx-3" id="quantity" th:value="${item.getQuantity()}" min="1" th:max="${item.getProduct().getStock()}">
                    <button type="submit" class="btn btn-success">Update item</button>

                </form>

                <form th:action="@{/deleteitem}" method="post" class="d-flex align-items-center justify-content-start m-3 delete-form">

                    <input type="hidden" name="productId" th:value="${item.getProduct().getId()}">
                    <button type="submit" class="btn btn-danger"> X </button>

                </form>

            </div>

        </div>

    </div>


</div>




</body>
</html>